all:
  children:
    ManageIQ:
      vars:
        ansible_user: root
        ansible_ssh_pass: {{ manageiq_vm_root_password }}
        ansible_ssh_common_args: -o PubkeyAuthentication=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
      children:
        database:
          hosts:
{% for host in groups['database'] %}
            {{ host }}:
              manageiq_postgresql_disk: {{ manageiq_vm_disks_postgresql }}
{% endfor %}
        ui:
          hosts:
{% for host in groups['ui'] %}
            {{ host }}:
{% endfor %}
        worker:
          hosts:
{% for host in groups['worker'] %}
            {{ host }}:
              manageiq_logs_disk: {{ manageiq_vm_disks_logs }}
{% endfor %}
