---
- block:
    - name: Register to Red Hat Network
      command: subscription-manager register --username {{ manageiq_rhn_username }} --password {{ manageiq_rhn_password }}

    - name: Attach subscription pool
      command: subscription-manager attach --pool {{ manageiq_rhn_pool }}

    - name: Enable the relevant Red Hat repositories
      command: "subscription-manager repos --disable='*' --enable='rhel-7-server-rpms' --enable='rhel-7-server-rh-common-rpms' --enable='rhel-server-rhscl-7-rpms' --enable='rhel-7-server-optional-rpms'"

    - name: Enable EPEL repository
      yum:
        name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
        state: present
  when:
    - ansible_distribution == "RedHat"
    - manageiq_rhn_username is defined
    - manageiq_rhn_password is defined

- block:
    - name: Add custom repos to YUM configuration
      yum_repository:
        name: "{{ item['name'] }}"
        baseurl: "{{ item['baseurl'] }}"
        enabled: "{{ item['enabled'] | default('yes') }}"
        gpgcheck: "{{ item['gpgcheck'] | default('no') }}"
        skip_if_unavailable: "{{ item['skip_if_unavailable'] | default('no') }}"
        exclude: "{{ item['exclude'] | default('') }}"
      with_items: "{{ rhel_custom_repos }}"
  when:
    - ansible_distribution == "Red Hat"
    - rhel_custom_repos is defined

- block:
    - name: Enable aditionnal repositories
      yum:
        name: "{{ item }}"
        state: present
      with_items:
        - epel-release
        - centos-release-scl
  when: ansible_distribution == "CentOS"

- name: Add packages not provided by RHEL cloud image
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - lvm2
    - firewalld

- name: Start and enable extra services
  service:
    name: "{{ item }}"
    enabled: yes
    state: started
  with_items:
    - firewalld

- name: Disable IPv6 (troublesome in DemoLab)
  sysctl:
    sysctl_file: /etc/sysctl.d/ipv6.conf
    name: net.ipv6.conf.all.disable_ipv6
    value: 1
    reload: yes
